@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Menu</h1>

@*@{
    foreach (Product p in Model)
    {
        <a class="nav-link text-dark p=0" asp-action="Details" asp-route-id="@p.Id">
        <div class = "card">
                <p>@p.Id, @p.Name, $@p.Price</p>
        </div>
        </a>
    }
}
*@


@* Show a list of categories on the index view,
   then let the user click to see a list of only the products in that category. *@
@{
    List<Product> DistinctCategories = Model.DistinctBy(p => p.Category).ToList();
    foreach (Product c in DistinctCategories)
    {
        <h2>@c.Category</h2>
        foreach(Product p in Model.Where(p => p.Category == c.Category))
        {
            <a class="nav-link text-dark p=0" asp-action="Details" asp-route-id="@p.Id">
            <p class="card">@p.Id, @p.Name, $@p.Price</p>
            </a>
        }
    }
}




@*foreach (Product p in Model)
    {
<a class="nav-link text-dark p-0" asp-action="Detail" asp-route-id="@p.Id">
    <div class="card">
        <h2>@p.Name</h2>
        <p>@p.Description</p>
        <h5>@p.Price</h5>
    </div>

</a>
    }*@