@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Menu</h1>

@{
    foreach (Product p in Model)
    {
        <a class="nav-link text-dark p=0" asp-action="Details" asp-route-id="@p.Id">
        <div class = "card">
                <p>@p.Id, @p.Name, $@p.Price</p>
        </div>
        </a>
    }
}




@*foreach (Product p in Model)
    {
<a class="nav-link text-dark p-0" asp-action="Detail" asp-route-id="@p.Id">
    <div class="card">
        <h2>@p.Name</h2>
        <p>@p.Description</p>
        <h5>@p.Price</h5>
    </div>

</a>
    }*@